<div class="section pure-g" ng-controller="ScheduledTweetsAdminCtrl">
  <h1>Scheduled Tweets</h1>
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Type</th>
        <th>Scheduled At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="scheduledTweet in scheduledTweets track by scheduledTweet.id">
        <td>{{scheduledTweet.artist}}</td>
        <td>{{scheduledTweet.album}}</td>
        <td>{{scheduledTweet.type}}</td>
        <td>{{scheduledTweet.scheduled_on}}</td>
      </tr>
    </tbody>
  </table>
</div>
