<div class="section pure-g" ng-controller="ArtistsAdminCtrl">
  <h1>Artists</h1>
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Twitter</th>
        <th>Potential Twitter Names</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="artist in artists track by artist.uuid">
        <td>{{artist.name}}</td>
        <td>
          <div ng-hide="artist.isEditing">
            <a ng-href="//twitter.com/{{artist.twitter_screen_name}}" target="_blank">
              {{artist.twitter_screen_name}}
            </a>
            <button ng-click="editTwitterScreenName(artist)">Edit</button>
            <button ng-click="clearTwitterScreenName(artist)">Clear</button>
          </div>
          <div ng-show="artist.isEditing">
            <input type="text" ng-model="artist.twitter_screen_name" />
            <button ng-click="updateTwitterScreenName(artist)">Save</button>
            <button ng-click="cancelTwitterScreenNameEdit(artist)">Cancel</button>
          </div>
        </td>
        <td>
          <ol ng-if="artist.twitter_screen_names.length">
            <li ng-repeat="screenName in artist.twitter_screen_names">
              <a ng-href="//twitter.com/{{screenName.screen_name}}" target="_blank">{{screenName.screen_name}}</a>
              &nbsp;&mdash;&nbsp;{{screenName.strength}}%
              <button ng-click="setTwitterScreenName(artist, screenName.screen_name)">Set</button>
            </li>
          </ol>
          <a ng-href="//twitter.com/search?f=users&vertical=default&q={{artist.name}}" target="_blank">
            Search
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
