<div ng-cloak class="section pure-g" ng-controller="WeeklyAnniversariesCtrl">
  <div id="loading" class="pure-u-1" ng-show="isLoading">
    <img src="<%= asset_path('loading.gif') %>" />
  </div>
  <div id="anniversaries" class="pure-u-1" ng-hide="isLoading">
    <div class="pure-g">
      <p class="pure-u-1">Release date anniversaries this week</p>
    </div>

    <div class="anniversary pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" ng-repeat="anniversary in albumAnniversaries">
      <div class="album-artwork">
        <div class='rating'>{{anniversary.rating}}</div>
        <a ng-href="{{anniversary.review_link}}"><img ng-src="{{anniversary.thumbnail_url}}" alt="{{anniversary.name}}" /></a>
      </div>
      <h4>{{anniversary.name}}</h4>
      <h5>{{anniversary.artist}}</h5>
      <div class="anniversary-stats">
        <p class="age">{{anniversary.age}} {{anniversary.age > 1 ? 'years' : 'year'}} old</p>
        <p class="release-date">Reviewed on {{(anniversary.release_date * 1000) | date: 'MMMM d, yyyy'}}</p>
      </div>
    </div>
  </div>
</div>