<div id="loading" class="pure-u-1" ng-show="isLoading">
  <ul id="progress">
    <li>
      <div id="layer1" class="ball"></div> <!-- layer1 control delay animation / ball is effect -->
      <div id="layer7" class="pulse"></div> <!-- layer7 control delay animation / pulse is effect  -->
    </li>
    <li>
      <div id="layer2" class="ball"></div>
      <div id="layer8" class="pulse"></div>
    </li>
    <li>
      <div id="layer3" class="ball"></div>
      <div id="layer9" class="pulse"></div>
    </li>
    <li>
      <div id="layer4" class="ball"></div>
      <div id="layer10" class="pulse"></div>
    </li>
    <li>
      <div id="layer5" class="ball"></div>
      <div id="layer11" class="pulse"></div>
    </li>
  </ul>
</div>
