body{
  padding-top: 73px;
  background-color: #f2f2f2;
}

.section-header{
  font-size: 36px;
  color: #404040;
}

h1, h2, h3, h4, h5 {
  color: #4c4c4c;
}

#main{
  overflow: hidden;
}

#large_screen_header {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    opacity: 0.95;
}

.wrapper {
    margin: 0 auto;
    display: table;
    width: 90%;
    line-height: 1em;
    padding: 12px 0
}

#large_screen_header h2 {
  margin: 10px 1%;
  float: left;
}

#large_screen_header.fixed {
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
}

#logo img{
  width: 50px;
  height: 50px;
}

@media only screen and (max-device-width: 800px) and (min-device-width: 381px), only screen and (max-width: 800px) and (min-width: 381px) {
  body{
    padding-top: 65px;
  }

    #large_screen_header {
        font-size: 16px;
        text-align: center;
    }

    #large_screen_header .wrapper {
        line-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #large_screen_header h2 {
      margin: 10px 1%;
      float: none;
      font-size: 22px;
    }

    #logo img{
      float: left;
    }
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  body{
    padding-top: 65px;
  }

  #large_screen_header {
      text-align: center;
  }
  #large_screen_header h2 {
    margin: 10px 1%;
    float: none;
    font-size: 18px;

  }

  #logo img{
    width: 35px;
    height: 35px;
    float: left;
  }
}
