body{
  padding-top: 73px;
  background-color: #f2f2f2;
}

.section-header{
  font-size: 36px;
  color: #404040;
}

h1, h2, h3, h4, h5 {
  color: #4c4c4c;
}

#main{
  overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    display: table;
    width: 90%;
    line-height: 1em;
    padding: 12px 0;
    position: relative;
}

@media only screen and (max-device-width: 800px) and (min-device-width: 381px), only screen and (max-width: 800px) and (min-width: 381px) {
  body{
    padding-top: 65px;
  }
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  body{
    padding-top: 65px;
  }
}
