.album-search {
  -moz-osx-font-smoothing: auto;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 17px;
  box-sizing: border-box;
  color: #818181;
  height: 34px;
  line-height: 34px;
  outline: medium none;
  padding: 0;
  position: relative;
  text-align: center;
  padding-left: 5px;
  float: right;
  width: 300px;
  margin-bottom: 5px;
  font-size: .9em;

  input {
    border: none;
    background-color: transparent;
    color: #818181;
    width: 75%;
  }
}

.search-clear {
  float: right;
  border-left: 1px solid #d4d4d4;
  margin-left: 10px;
  padding: 0 3px;
  color: #4d4d4d;
  text-decoration: none;
  z-index: 2;
  transition: color 0.5s, border-color 0.5s;
  opacity: 0.8;
  height: 32px;
  padding: 0 10px;

  &:hover{
    color: #acacac;
    border-color: #acacac;
  }
  &:focus{
    outline: none;
  }
}

@media only screen and (max-device-width: 800px) and (min-device-width: 381px), only screen and (max-width: 800px) and (min-width: 381px) {
  .album-search {
    width: 250px;
  }
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  .search-clear{
    height: 31px;
  }

  .album-search {
    width: 80%;
    margin-top: 2px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 8px;
  }
}
