<%= form_tag('/admin/login') do %>
  <label for="admin_email">Email</label>
  <input type="email" name='admin_email' />
  <label for="admin_password">Password</label>
  <input type="password" name='admin_password'/>
  <input type="submit" value="Sign in" />
<% end %>
