<!DOCTYPE html>
<html>
<head>
  <title>Front Desk - Ryan Norman - Weekly Birthdays</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="FD.WeeklyBirthday">
  <header class='fixed' id='large_screen_header'>
    <div class='wrapper'>
      <div class='logo'>
      <a id="homepage_header_fd-icon" href="/">Front Desk</a>
      </div>
      <nav id='main_nav'></nav>
    </div>
  </header>
  <header id='small_screen_header'>
    <div class='logo'>
      <a id="homepage_header_fd-icon" href="/">Front Desk</a>
    </div>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'application' %>
</html>