<!DOCTYPE html>
<html>
<head>
  <title>Ryan Norman - Weekly Release Date Anniversaries</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript">
    (function(w) {
      w.Norm = w.Norm || {};
    })(window);
  </script>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body ng-app="Norm.WeeklyAnniversary">
  <header class='fixed' id='large_screen_header'>
    <div class='wrapper'>
      <div class="pure-g">
        <h2 class="section-header pure-u-1">Album Release Anniversaries</h2>
      </div>
    </div>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
</html>